h1 {
  color: white;
  background-color: black;
}

img{
  height: 20vw;
}

.slide{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateX(-50%);
  transition: all 0.5s ease;
}

.current{
  opacity: 1;
  transform: translateX(0);
}

.progress{
  background-color: pink;
  border-radius: 20px;
  height: 30px;
  width: 300px;
}
.progress-done{
  background-color: blue;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  height: 100%;
  width: 100px;
}