h1 {
  color: black;
}

/* img {
  height: 20vw;
} */

.slide {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateX(-50%);
  transition: all 0.5s ease;
}

.current {
  opacity: 1;
  transform: translateX(0);
}

.progress {
  background-color: pink;
  border-radius: 20px;
  margin: 10px;
  height: 30px;
  width: 100%;
}

.progress-done {
  background-color: lightskyblue;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  height: 100%;
  width: 100px;
}

/* img {
  height: 20vw;
} */


.modalBackground {
  position: fixed;
  background-color: rgba(50.2%, 50.2%, 50.2%, 0.5);
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 1000;
}


.modalContainer {
  width: 80%;
  height: 80%;
  border-radius: 12px;
  background-color: white;
  box-shadow: black 0px 5px 15px;
  display: flex;
  flex-direction: column;
  /* padding: 25px; */
  position: fixed;

  justify-content: flex-start;
  /* max-width: max-content;
  max-height: max-content;
  justify-content: space-around; */
  top: 0;
  left: 0;
  margin-top: 5%;
  margin-left: 10%;
  max-height: 500px;
}

.modalContainer .title {
  font-size: 25px;
  font-weight: bold;
  /* display: inline-block; */
  text-align: center;
  /*left or right*/
  /* margin-top: 10px; */
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
  /*items are packed toward the end of flex directon*/
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  margin-left: 5px;
  font-size: 20px;
  /* text-align: center; */
  flex-direction: column;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 4fr 5fr;
}

label input {
  max-width: 45vw;
  position: fixed;
  left: 35%;
  align-items: center;
  width: -webkit-fill-available;
}

.modalContainer .footer {
  font-size: 10px;
  flex: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.slider {
  z-index: 2;
}

.smallfig {
  height: 30px;
}


/************start css mod************/
.username {
  color: inherit;
  background: inherit;
  padding: inherit;
  font: inherit;
  border: none;
  width: auto;
  /* text-align: center; */
}

.selectCollection{
  display: inline-block;
}

.slider{
  align-items: center;
  justify-content: center;

  display: grid;

  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 1fr;

}

.preSymbol{
  grid-column: 1/span1;
  grid-row: 1/span1;
  z-index: 100;
}
.mainDisplay{
  height: 50vh;
  align-items: center;
  justify-content: center;
  grid-column: 2;
  grid-row: 1/span1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.nextSymbol{
  grid-column: 3/span1;
  grid-row: 1/span1;
}

/* .img{
  align-items: center;
  justify-content: center;
} */
.slide{
  position: relative;
  grid-column: 1/span1;
  grid-row: 1/span1;
  /* display: flexbox; */
  height: 100%;
}
.play{
  z-index: 100;
  background: none;
  border: none;
}

div .bigDisplay{
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

.current .empty{
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  font-size: 5vw;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}
.prePhoto {
  height: 10vw;
  display: inline-flex;
  padding: 2px;
}
.colName{
  position: relative;
  grid-column: 1/span1;
  grid-row: 1/span1;
}
.addPhoto{
  position: relative;
  grid-column: 1/span1;
  grid-row: 2/span1;
}
.photoDisplay{
  position: relative;
  grid-column: 1/span1;
  grid-row: 3/span1;
}

.addOn{
  display: flex;
}
.addText{
  position: absolute;
}
.addImg{
  position: relative;
  left:120px;
  width: 200px;
}
.addButton{
  position: relative;
  left: 120px;
}

.photoDisplay img{
  padding:2px;
}
.modImg{
  position: relative;
  left:0px;
}
.addPhoto button{
  display: block;
}